body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #555;
  font-weight: 100;
}
img {
  size: 5px;
  border-radius: 10%;
  width: 120px;
  float: left;
  margin: 0px 20px 0px 20px;
}
h1 {
  text-align: left;
  size: 20px;
  color: rgb(31, 71, 132);
}
h2 {
  background-color: rgb(25, 89, 201);
  opacity: 90%;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
}
h3 {
  text-align: left;
  font-weight: 100;
}
h4 {
  color: black;
  font-weight: bold;
}
th {
  font-weight: lighter;
  text-align: justify;
  padding: 10px 20px;
}
.title {
  font-weight: bold;
  color: whitesmoke;
}
.projectTitle {
  color: black;
  font-weight: bold;
}
.info > p {
  text-align: left;
}
#major {
  font-weight: bold;
  font-style: italic;
}
#address {
  text-align: left;
}
table {
  border: 1px solid #eee;
  margin: 0 auto;
  border-collapse: collapse;
}
th,
td {
  color: #999;
  border: 1px solid #eee;
  padding: 15px 35px;
}
th {
  color: white;
  background-color: rgb(25, 89, 201);
  text-align: center;
  opacity: 80%;
}
tr:hover {
  background-color: #f4f4f4;
}
td:hover {
  color: #555;
}
